.col-md-5, p-lg-5, mx-auto, my-5{
    background-image: url("https://www.meme-arsenal.com/memes/2e81970e777d3d8ac23da276575013ec.jpg");
   }

   
   h1, p, .btn, btn-outline-secondary{
    color: white;
   }