table, tr, td {
    border: 1px black solid;
    border-collapse: collapse;
}

td{
    text-align: center;
}


footer{
    text-align: center;
}
.hidden{
    display: none;
}

.greyed{
    color: grey;
}