:root {
    --blu-logo: #4895ef;
}

nav {
    background-color: var(--blu-logo);
}

#index-centered {
    background-image: url("https://i.pinimg.com/originals/7f/60/46/7f6046c2151e085d1039276dc8fc0850.gif");
    background-size:cover;
    background-position: center;
    padding: 64px;
}

.light-txt {
    color: white;
    font-weight: 400;
}

.dark-txt {
    color: black;
    font-weight: bold;
}

footer {
    text-align: center;
}

.index-images {
    min-height: 300px;
    max-height: 460px;
    background-size:cover;
    opacity: 0.5;
}

.index-images:hover {
    background-size:cover;
    opacity: 1;
}

 #community-box {
    background-image: url("https://i.pinimg.com/originals/05/3c/39/053c39f4c14d99d4bc143c05dc3ca219.gif");
}

#community-box:hover {
    background-image: url("https://i.pinimg.com/originals/05/3c/39/053c39f4c14d99d4bc143c05dc3ca219.gif");
}

.btn {
    background-color: rgba(255, 255, 255, 0.5);
}

#about-us-box {
    background-image: url("https://i.kym-cdn.com/photos/images/original/001/004/553/5b0.gif");
    background-position: center;
}

#about-us-box:hover {
    background-image: url("https://media4.giphy.com/media/QbumCX9HFFDQA/giphy.gif");
    background-position: center;
}

/*------------------------------------------------------*/
#help-box {
    background-image: url("../assets/helpme.png");
    background-position: center;
}

#help-box:hover {
    background-image: url("../assets/helpme.png");
    background-position: center;
}

/*------------------------------------------------------*/










table, tr, td {
    border: 1px black solid;
    border-collapse: collapse;
}

td{
    text-align: center;
}

#txt_obbl{
    padding-top: 10px;
}

.hidden{
    display: none;
}

.greyed{
    color: grey;
}

.info-icon {
    height: 32px;
    width: 32px;
    grid-area: icon;
}

.info-title {
    grid-area: title;
    font-weight: bold;
    padding: 0 .50rem;
}

.info-desc {
    grid-area: desc;
    grid-area: desc;
    padding: 0 .50rem;
}

.info-box {
    background-color: cornsilk;
    display: grid;
    grid-template-areas: 
        "icon title"
        ".    desc";
    grid-template-columns: 40px 1fr;
    padding: .50rem;
    margin: .75rem 0;
    text-align: left;
    height: 112px;
    max-width: 430px;
}

@media only screen and (min-width: 768px) {
    .w-md-50 {
        width: 50% !important;
    }

    .info-box {
        margin: .75rem auto;
    }
}