:root {
    --blu-logo: #4895ef;
}

nav {
    background-color: var(--blu-logo);
}

#index-centered {
    background-image: url("https://i.pinimg.com/originals/7f/60/46/7f6046c2151e085d1039276dc8fc0850.gif");
    background-size:cover;
    background-position: center;
    padding: 64px;
}

.light-txt {
    color: white;
    font-weight: 400;
}

.dark-txt {
    color: black;
    font-weight: bold;
}

/*FOOTER*/
footer {
    text-align: center;
}
#footer {
    background-color: #64dfdf;
}
/*SHOW_PROFILE*/
.col-xs-12 {
    margin-top: 30px;
}

#community-box {
    background-image: url("https://i.pinimg.com/originals/05/3c/39/053c39f4c14d99d4bc143c05dc3ca219.gif");
}

.index-images {
    min-height: 300px;
    max-height: 460px;
    background-size:cover;
    opacity: 0.5;
}

.index-images:hover {
    background-size:cover;
    opacity: 1;
}

.btn-home {
    background-color: rgba(255, 255, 255, 0.5);
}

 #community-box {
    background-image: url("https://i.pinimg.com/originals/05/3c/39/053c39f4c14d99d4bc143c05dc3ca219.gif");
}

#community-box:hover {
    background-image: url("https://i.pinimg.com/originals/05/3c/39/053c39f4c14d99d4bc143c05dc3ca219.gif");
}

#about-us-box {
    background-image: url("https://i.kym-cdn.com/photos/images/original/001/004/553/5b0.gif");
    background-position: center;
}

#about-us-box:hover {
    background-image: url("https://media4.giphy.com/media/QbumCX9HFFDQA/giphy.gif");
    background-position: center;
}

/*------------------------------------------------------*/
#help-box {
    background-image: url("../assets/helpme.png");
    background-position: center;
}

#help-box:hover {
    background-image: url("../assets/helpme.png");
    background-position: center;
}

/*------------------------------------------------------*/

#search-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#search-flex > div {
    width: 100%;
}

#search-flex input[type=submit] {
    margin-top: .5rem;
}

.my-search-bar {
    max-width: 500px;
    margin: 0 auto;
}

.my-search-form {
    margin: 0 32px;
}

.my-search-bar input {
    border-radius: 15px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#searchOptions .form-group{
    max-width: 500px;
}

.my-search-form input.btn{
    max-width: 90px;
}

#designs-list{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.design {
    text-align: center;
    width:100%;
    margin-left: 10px;
    margin-right: 10px;
}

/* .design img {
    width: 40vw;
    max-width: 250px;
    min-width: 100px;
} */

.design ul {
    list-style-type: none;
    padding-left: 0;
}

.design button {
    display: block;
    margin: 0 auto;
}

.design input[type=range] {
    padding: 0 32px;
    max-width: 550px;
    display: block;
    margin: 0 auto;
}

.design textarea {
    width: 80vw;
    max-width: 500px;
    margin: 0 auto;
}

.design .design-img-container {
    align-items: center;
    width: auto;
    margin: 0 auto;
    height: 300px;
    display: flex;
    justify-content: center;
    padding: 0 32px;
}

.design .design-img-container img {
    max-height: 300px;
}

.icon-paypal {
    width: 80vw;
    max-width: 673px;
}

/* --------------------------------------------- */

table, tr, td {
    border: 1px black solid;
    border-collapse: collapse;
}

td{
    text-align: center;
}

#txt_obbl{
    padding-top: 10px;
}

.hidden{
    display: none;
}

.greyed{
    color: grey;
}

.info-icon {
    height: 32px;
    width: 32px;
    grid-area: icon;
}

.info-title {
    grid-area: title;
    font-weight: bold;
    padding: 0 .50rem;
}

.info-desc {
    grid-area: desc;
    grid-area: desc;
    padding: 0 .50rem;
}

.info-box {
    background-color: cornsilk;
    display: grid;
    grid-template-areas: 
        "icon title"
        ".    desc";
    grid-template-columns: 40px 1fr;
    padding: .50rem;
    margin: .75rem auto;
    text-align: left;
    height: 112px;
    max-width: 430px;
}

@media only screen and (min-width: 768px) {
    .design{
        margin-left: 0;
        margin-right: 0;
        width: 50%;
    }

    .w-md-50 {
        width: 50% !important;
    }
} 

@media only screen and (min-width: 992px) {
    #search-flex > div {
        width: auto;
    }

    #search-flex > div:last-child {
        margin-left: 12px;
        height: 38px;
    }
    
    #search-flex input[type=submit] {
        margin-top: 0;
    }
    
    .my-search-bar {
        width: 500px;
    }

    .design{
        width: 33%;
    }
} 

@media only screen and (min-width: 1200px) {
    .design{
        width: 25%;
    }
}